<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <title>Word Counter</title>
</head>
<body>

<header id="words-page-header-div">
    <h1 id="words-page-header">Total word list</h1>
    <a id="header-link" href="/">Back to home page</a>
</header>

<table id="words-table" class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">URL</th>
            <th scope="col">Word</th>
            <th scope="col">Occurrences</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="word, i : ${words}">
            <th th:text="${i.count}" scope="row">0</th>
            <th th:text="${word.getPage().getUrl().length()} <= 50 ? ${word.getPage().getUrl()} : ${word.getPage().getUrl().substring(0, 50) + '...'} " >0</th>
            <td th:text="${word.getWord()}">word</td>
            <td th:text="${word.getOccurrences()}">0</td>
            <td>
                <form action="/words" method="get">
                    <button type="submit"
                            th:name="url"
                            th:value="${word.getPage().getUrl()}"
                            class="btn btn-light btn-table">Show words for this URL</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>